<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.drkeironbrown.lifecoach">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".LifeCoachApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Life coach"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".ui.FunctionSlideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".ui.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".ui.SlideshowListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".ui.GalleryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".ui.AddSlideshowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".ui.AddGalleryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity android:name=".ui.AddJournalActivity" />
        <activity android:name=".ui.JournalListActivity" />
        <activity android:name=".ui.SecondThoughtActivity" />
        <activity android:name=".ui.PersonalInspirationalActivity" />
        <activity android:name=".ui.InspirationalActivity" />
        <activity android:name=".ui.GalleryActivity" />
        <activity android:name=".ui.SlideshowActivity" />
        <activity android:name=".ui.Dashboard2Activity" />
        <activity android:name=".ui.ZoomablImageActivity" />

        <receiver
            android:name=".helper.AlarmHelper"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.ShopActivity"></activity>
    </application>

</manifest>